<?xml version="1.0" encoding="utf-8" ?>
<events>
  <!-- for documentation concerning how to write an event check the wiki -->
  <!-- RESERVED EVENTS -->
  <event type="2" id="0" name="weekly_stat_up" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00"/>
  <event type="2" id="1" name="trade_accept_reject" description="" priority="1" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00"/>
  <event type="2" id="2" name="cps_monthly" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" day="14" month="1"/>
  <event type="2" id="3" name="cps_warning" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />
  <event type="2" id="4" name="cps_takedown" description="" priority="1" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />
  <event type="2" id="20" name="tutorial_1" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" day="1" month="1" year="2016"/>
  <event type="2" id="21" name="tutorial_2" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" day="8" month="1" year="2016"/>
  <event type="2" id="22" name="tutorial_3" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" day="15" month="1" year="2016"/>
  <event type="2" id="23" name="tutorial_4" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" day="25" month="1" year="2016"/>
  <event type="2" id="24" name="tutorial_5" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" day="1" month="3" year="2016"/>
  <event type="0" id="40" name="Insanity Stage 30" description="" priority="0" chance="0.1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />
  <event type="0" id="41" name="Insanity Stage 50" description="" priority="0" chance="0.1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />
  <event type="0" id="42" name="Insanity Stage 70" description="" priority="0" chance="0.1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />
  <event type="0" id="43" name="Insanity Stage 90" description="" priority="0" chance="0.1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />
  <event type="3" id="60" ability_name="Ability: Stat Gains Doubled" ability_description="Choose a child to gain double bonuses to all stat gains for one month!" cooldown="56" picture="icon_DoubleStats" insanity_cost="5" money_cost="250" name="Stat Gains Doubled" description="Hey pal...I got this syringe of shark blood and rhinoceros testosterone...give this to a kid and they'll grow like crazy (x2 to all stat gains for one month)" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" />
  <event type="0" id="61" name="Ability: Stat double end" description="" priority="0" chance="0" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="STAT_GAINS_DOUBLED" />
  <event type="3" id="62" ability_name="Ability: Event Replayer" ability_description="Well that event yesterday didn't go well! Fortunately, I can replay it! For a price..." cooldown="28" picture="icon_rewindAbility" insanity_cost="5" money_cost="5000" name="Event Replayer" description="Well that event yesterday didn't go well! Fortunately, I can replay it! For a price..." req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" />    
  <event type="3" id="63" ability_name="Ability: Child Sacrifice" ability_description="I can feel the grip of insanity upon me. I can sharply reduce my sanity for a sacrifice. A very high price to a very old god." cooldown="168" picture="icon_sacrificeAbility" insanity_cost="0" money_cost="0" name="Child Sacrifice" description="I can feel the grip of insanity upon me. I can sharply reduce my sanity for a sacrifice. A very high price to a very old god." req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" />    
  
  <!--<event type="0" id="10" name="test_event_hidden" description="This is a test, {0}" priority="1" month="1-2"
         chance="0" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00"/>  
  <event type="1" id="11" name="test_event_known" description="Select one {C} to do the chore {G}!" priority="2" month="12" day="0" 
         req_children="11" age="0-100" req_parent="01" req_grandpa="00" req_money="01" req_accept="01"/> -->

  <!-- HIDDEN EVENTS -->
  <event type="0" id="102"  name="Grandkid wanders into traffic" description="" priority="1" chance="0.001" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" age="4-10"/>
  <event type="0" id="1001" name="Grandpa buys a car" description="{G} is tired of seeing {P} drive that old beater around. Wouldn't you like a nice, new car? Now, how much to spend...?" priority="1" chance="0.0005" req_children="00" req_parent="11" req_grandpa="00" req_money="01" req_accept="01"/>
  <event type="0" id="1002" name="Grandpa's vacation" description="{G} wants the family to have a nice, relaxing vacation. The more you spend, the better the vacation will be!" priority="1" chance="0.002" req_children="11" req_parent="11" req_grandpa="00" req_money="01" req_accept="01" month="7" day="20" />
  <event type="0" id="1004" name="Grandpa's social security" description="" priority="1" chance="0.005" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00"/>
  <event type="0" id="1007" name="Grandpa finds buried gold" description="" priority="1" chance="0.005" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00"/>
  <event type="0" id="1008" name="Grandkid is dating cheerleader" description="" priority="1" chance="0.01" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="ON_FOOTBALL_TEAM"/>
  <event type="0" id="1009" name="Grandkid is injured" description="" priority="1" chance="0.001" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="ON_FOOTBALL_TEAM"/>
  <event type="0" id="1010" name="Grandkid great at practice" description="" priority="1" chance="0.02" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="ON_FOOTBALL_TEAM"/>
  <event type="0" id="1011" name="Grandpa buys experimental gear" description="There's this illegal, Cambodian football gear that's been treated with tiger grease. It costs $500 and would give {C} a big edge in indoor football..." priority="1" chance="0.01" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" qualification="ON_FOOTBALL_TEAM"/>
  <event type="0" id="1012" name="Grandkid's illegal gear discovered" description="Uh oh, {EG} tipped off a referee to {C}'s illegal, Cambodian football gear. The referee is demanding a $1000 bribe to keep quiet." priority="1" chance="0.005" req_children="11" req_parent="00" req_grandpa="11" req_money="00" req_accept="01" qualification="ILLEGAL_GEAR"/>  
  <event type="0" id="1014" name="Grandkid sucks at football" description="" priority="1" chance="0.01" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="ON_FOOTBALL_TEAM" />  
  <event type="0" id="1015" name="Grandkid forgets lines" description="" priority="1" chance="0.01" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="IN_PLAY" />  
  <event type="0" id="1017" name="Parent gets a divorce" description="" priority="1" chance="0.002" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1018" name="Parent gets in fatal car accident" description="" priority="1" chance="0.0005" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1020" name="Parent gets hurt" description="" priority="1" chance="0.005" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1021" name="Grandkid gets into college" description="" priority="1" chance="0.005" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" age="16-18" />  
  <event type="0" id="1022" name="Grandpa buys family dog" description="" priority="1" chance="0.005" req_children="11" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1023" name="Grandpa lost at sea" description="" priority="1" chance="0.003" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1024" name="Grandpa gives life advice" description="" priority="1" chance="0.002" req_children="11" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1025" name="Grandpa falls for pozi scheme" description="" priority="1" chance="0.0005" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" /> 
  <event type="0" id="1030" name="CHECK: Grandpa commits arson" description="" priority="1" chance="0.005" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" /> 
  <event type="0" id="1026" name="Grandpa commits arson" description="What unseasonably cold weather! I remember back in the old days we would snuggle up by the fire on days like today." priority="1" chance="0" req_children="00" req_parent="00" req_grandpa="01" req_money="00" req_accept="00" /> 
  <event type="0" id="1027" name="Grandpa kills a cat" description="I'm hungry... I remember in the good old days when you could just kill a chicken by the side of the road and eat it." priority="1" chance="0.005" req_children="00" req_parent="00" req_grandpa="11" req_money="00" req_accept="00" /> 
  <event type="0" id="1028" name="Grandpa is naked" description="" priority="1" chance="0.005" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />   
  <event type="0" id="1029" name="Grandpa gets a doctor" description="Grandpa hasn't been feeling terribly well lately. A lot of sinister voices talking about a League. Fortunately, a doctor in town specializes in this sort of thing. For 50 dollars a month he can help you!" priority="1" chance="0.002" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" />   
  <event type="0" id="1031" name="Grandpa joins a cult" description="" priority="1" chance="0.004" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1035" name="Arbor Day Result" description="" priority="1" chance="0" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="2" id="1037" name="Grandpa goes fishing" description="Ahh, the summer is the perfect time for the most stereotypical grandpa activity there is. Fishing! I should take one of the kids!" priority="1" chance="0" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="8" day="12" />  
  <event type="0" id="1039" name="Parent gets promotion" description="" priority="1" chance="0.01" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1040" name="Parent catches coworker stealing" description="{P} is dusting the files at work when they see a coworker stuff a handful of pencils into their pocket. Stealing! At work! Should you turn them in...?" priority="1" chance="0.002" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="01" />    
  <event type="0" id="1041" name="Grandpa sells drugs" description="Kids at {C}'s school are under a lot of pressure to succeed in school. Seems like all the kids are taking adderall. Could make a healthy buck off that!" priority="1" chance="0.002" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" />    
  <event type="0" id="1042" name="Grandkid finds classmate doing drugs" description="{C} steps out of the stall at school and finds a couple students doing crystal meth. Damn, that is some hard shit. Should you turn them in?" priority="1" chance="0.002" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" qualification="GRANDPA_SELLING_DRUGS" />    
  <event type="0" id="1043" name="Grandkid fights bully" description="" priority="1" chance="0.003" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />    
  <event type="0" id="1044" name="Grandkid takes a test" description="" priority="1" chance="0.01" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" age="8-18"/>    
  <event type="0" id="1045" name="Grandkid's class does fingerpainting" description="" priority="1" chance="0.006" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" age="4-8" />    
  <event type="2" id="1047" name="Grandpa's walk in the park" description="It's a beautiful fall day. I ought to take one of my grandkids for a walk in the park slash bonding experience." priority="1" chance="0" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" age="4-18" month="8" day="20" />    
  <event type="0" id="1048" name="Found lost park child" description="" priority="1" chance="0" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" /> 
  <event type="0" id="1049" name="Grandkid joins scouts" description="{C} is really interested in joining the Gender Neutral Scouts. They want to go camping and learn survival skills. Man, those scouts are losers! Should I let them join?" priority="1" chance="0.003" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="01"  month="10" day="0" age="6-12" /> 
  <event type="2" id="1050" name="Grandpa rigs elections?" description="As you know, the student council elections are next week. One of your grandchildren are planning on running, but Grandpa isn't sure they have what it takes to win... Perhaps a little vote rigging is in order? I'm sure there would be no consequences." priority="1" chance="0" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" month="9" day="5" /> 
  <event type="0" id="1052" name="Caught rigging" description="" priority="1" chance="0" req_children="11" req_parent="00" req_grandpa="11" req_money="00" req_accept="00" qualification="STUDENT_COUNCIL"/> 
  <event type="0" id="1054" name="Grandpa goes to the bar" description="Grandpa is always so fixated on this silly league, but sometimes it's best to kick back and relax. Grandpa wants to take another Grandpa to the bar." priority="1" chance="0.002" req_children="00" req_parent="00" req_grandpa="01" req_money="00" req_accept="00" /> 
  <event type="0" id="1056" name="Grandkid goes on joyride" description="" priority="1" chance="0.007" req_children="11" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" age="12-16" /> 
  <event type="0" id="1060" name="Parent dating supermodel" description="" priority="1" chance="0.01" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" qualification="IS_SINGLE" /> 
  <event type="0" id="1061" name="Grandpa threatens the present" description="" priority="1" chance="0.005" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" /> 
  <event type="0" id="1062" name="Grandkid is a chef" description="" priority="1" chance="0.005" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" /> 
  <event type="0" id="1063" name="Parent gets raise" description="" priority="1" chance="0.002" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" /> 
  <event type="0" id="1064" name="Parents adopt a child" description="" priority="1" chance="0.001" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" /> 
  <event type="0" id="1065" name="Parent marries a stripper" description="{P} has been so upset ever since the divorce... Grandpa decides it's time for drastic measures. Strip club, baby! How much are you gonna pay this stripper?!" priority="1" chance="0.01" req_children="00" req_parent="11" req_grandpa="00" req_money="01" req_accept="00" qualification="IS_SINGLE" /> 
  <event type="0" id="1066" name="Grandpa gets insurance fraud payout" description="" priority="1" chance="0.01" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" /> 
  <event type="0" id="1067" name="Grandpa sells fingernails" description="" priority="1" chance="0.004" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" /> 
  
  <!-- KNOWN EVENTS req_ of the form 1=true, 0=false, [RANDOM][REQUIRED]-->
  <event type="1" id="1003" name="Grandkid tries out for football" description="The indoor football team is having tryouts! I wonder who should go out?" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="1" day="0" age="10-18"/>
  <event type="1" id="1013" name="Football championship" description="Time for the indoor football championships. The tension in the room is palpable. You spot {EG} on the other side of the stadium and make eye contact. He pours his beer onto a small child. It's on. Good luck!" priority="2" req_children="11" req_parent="00" req_grandpa="11" req_money="00" req_accept="00" month="6" day="0" age="10-18" qualification="ON_FOOTBALL_TEAM"/>
  <event type="1" id="1005" name="Honor Roll Announced" description="{C} tries for the honor roll." priority="1" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="1" day="0" age="7-18"/>
  <event type="1" id="1006" name="Play audition" description="The school is putting on a play! Some garbage about saving the lemurs or whatever. Who cares, who should audition?" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="2" day="0" age="7-18"/>  
  <event type="1" id="1016" name="Play opening night" description="It's the big night! {C}'s play Stop the Lemur Genocide's opening night is tonight. The whole family is nervous, but especially Grandpa. He put everything on the line for this family. We owe him everything." priority="2" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="3" day="0" age="7-18" qualification="IN_PLAY"/>  
  <event type="1" id="1032" name="Valentine's Day" description="Love is in the air! Grandpa has never had trouble with the ladies, rawr, but God knows his grandkids could use a little advice in the love department. Who should Grandpa advise in this holiday season?" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="2" day="14" age="12-18" />  
  <event type="1" id="1033" name="Grandpa's Birthday!!" description="It's the most wonderful time of the year! Lucky for YOU, Grandpa likes to go hard. We need to pick our most popular grandkid and parent to arrange this thing so EVERYONE will be there." priority="1" req_children="01" req_parent="01" req_grandpa="11" req_money="00" req_accept="00" month="3" day="0" />   
  <event type="1" id="1034" name="Arbor Day" description="Spring is in the air. Grandpa is a big proponent of the environment. Especially if he grows a tree bigger than any other family's tree! Choose a child to teach about the environment!" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="4" day="27" />   
  <event type="1" id="1036" name="Fourth of July" description="Ah, America's independance day. Grandpa's father fought in that war. Probably. Anyway, seems like a perfect day for... sabotage. Let's set off some fireworks." priority="1" req_children="00" req_parent="00" req_grandpa="01" req_money="00" req_accept="00" month="7" day="4" />    
  <event type="1" id="1038" name="April Fool's" description="The prank holiday! I can think of one person I'd want to prank..." priority="1" req_children="00" req_parent="00" req_grandpa="01" req_money="00" req_accept="00" month="4" day="1" />    
  <event type="1" id="1019" name="Wild party today" description="The only way to be a cool kid is to throw a cool party. {C} has plans to throw the coolest party ever. Obviously this is a good idea. Maybe pitch in a hundred bucks to make sure it goes off without a hitch? Extra money can counteract a lame kid, everyone knows that." priority="1" chance="0.01" req_children="11" req_parent="11" req_grandpa="11" req_money="01" req_accept="01" age="12-18" month="5" day="10" />  
  <event type="1" id="1046" name="School dance" description="The most magical day of any child's life! The school dance. Where memories of awkward childhood nights will imprint onto their mind and follow them to their grave. Or not! Let's get this over with." priority="2" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" age="10-18" month="2" day="23" />  
  <event type="1" id="1051" name="Student council elections" description="Ah, nothing is more holy and sacred in this great country than the democratic process. This is what our forefathers died for. Surely no one would sully this sacred ritual with fraud. Let's count the votes..." priority="2" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" age="8-18" month="9" day="12" />  
  <event type="1" id="1053" name="Take Your Grandpa to Work Day" description="It's everyone's favorite real life, not-made-up holiday! Take your Grandpa to work day! Who should Grandpa go with?" priority="1" req_children="00" req_parent="01" req_grandpa="00" req_money="00" req_accept="00" month="8" day="6" />  
  <event type="1" id="1055" name="Field Trip" description="Time for {C}'s yearly field trip to the pumpkin patch/apple orchard. However, they're two chaperones short! Grandpa will go, obviously, but I guess a parent should go as well. Who?" priority="1" req_children="11" req_parent="01" req_grandpa="00" req_money="00" req_accept="00" month="10" day="15" />  
  <event type="1" id="1057" name="Veteran's Day" description="" priority="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="11" day="11" />  
  <event type="1" id="1058" name="Thanksgiving" description="" priority="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="11" day="26" />  
  <event type="1" id="3015" name="Halloween" description="It's that spooky time of year again! The day when Grandpa can dress up like a serial killer and not get arrested for having blood on his shirt! Who to take trick-or-treating?" priority="1" req_children="01" req_parent="00" req_grandpa="11" req_money="00" req_accept="00" month="10" day="28" age="5-12"/>
  <event type="1" id="3024" name="Parent-Teacher Conference" description="Time to measure how {C} is performing in school. This may be rough, who should I take along?" priority="1" req_children="11" req_parent="01" req_grandpa="00" req_money="00" req_accept="00" month="9" age="7-15"/>
  <event type="2" id="3025" name="Professional Tutoring" description="After that disaster of a parent teacher conference, I think we need a tutor. Problem is it'll cost $200 a month!" priority="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" month="0" chance="0"/>


  <!-- COMA EVENT TREE -->
  <event type="0" id="3022"  name="Grandkid goes into a coma" description="" priority="1" chance="0.002" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="5-10"/>
  <event type="2" id="3023"  name="Hospital visit" description="Time for your weekly visit to the hospital...Who should you take along? These hospital bills are starting to stack up..." priority="1" chance="0" req_children="00" req_parent="01" req_grandpa="00" req_money="00" req_accept="00" month="0" day="0" />

  <!-- BAND EVENTS -->
  <event type="1" id="1059" name="School band auditions" description="Grandpa is not looking forward to sitting through these concerts but having a grandkid in the school band would be quite a boon! Who should try out?" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="9" day="2" />
  <event type="0" id="3016" name="School Band Bullying" description="" priority="1" chance="0.007" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="9-11" qualification="IN_SCHOOL_BAND" />
  <event type="1" id="3017" name="Grandkid goes for the solo" description="The school band is having tryouts for the big concert solo! The band director's wife was just put into the hospital and he needs money badly... Maybe we could come to an agreement of sorts?" priority="1" req_children="11" req_parent="00" req_grandpa="00" req_money="01" req_accept="00" month="10" day="2" qualification="IN_SCHOOL_BAND" />
  <event type="1" id="3018" name="School Band Trip" description="The school band is going on a week long trip to see the grave of Elivs Presley and perform there! Can I go Grandpa? Can I?" priority="1" req_children="11" req_parent="00" req_grandpa="00" req_money="01" req_accept="01" month="10" day="18" qualification="IN_SCHOOL_BAND" />
  <event type="2" id="3019" name="school_band_return" description="" priority="1" chance="0" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="0" day="0" />
  <event type="0" id="3020" name="School band Checkup" description="" priority="1" chance="0.007" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="9-11" qualification="IN_SCHOOL_BAND" />
  <event type="1" id="3021" name="School Band Fall Concert!" description="" priority="2" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="11" day="12" qualification="IN_SCHOOL_BAND" />

  <!-- CHAMPIONSHIP EVENTS STRUCTURE -->
  <event type="2" id="3001" name="FINAL_EVENT_SEEDING" description="" chance="0" priority="1" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" month="12" day="1" />
  
  <event type="1" id="3002" name="Quarter Final Event 1" description="The first contest is a paint off. The camp counselor holds up a picture of a beautiful pastoral scene. Draw this... Begin!" chance="0" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="12" day="8"/>
  <event type="1" id="3003" name="Quarter Final Event 2" description="The second event is hosting a last minute dance party in the Rec Center. Whoever can get the most people to come wearing their colors wins!" chance="0" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="12" day="10"/>
  <event type="1" id="3004" name="Quarter Final Event 3" description="The third event is going to be a good old fashioned love-off. Just like the pioneers used to do. Which parent can tuck their children into bed and kiss them goodnight the best?" chance="0" priority="1" req_children="00" req_parent="01" req_grandpa="00" req_money="00" req_accept="00" month="12" day="12"/>
  <event type="1" id="3005" name="Quarter Final Judging" description="" chance="0" priority="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="12" day="14"/>
  
  <event type="1" id="3006" name="Semi Final Event 1" description="The children and parents have been working hard in these contests so far. Time for Grandpa to show his stuff. Wisdom off!" chance="0" priority="2" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="QUARTERFINAL_WINNER" month="12" day="15"/>
  <event type="1" id="3007" name="Semi Final Event 2" description="Everything is set up for the quiz show competition. The category is a mystery. Choose the child who will be your champion." chance="0" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="QUARTERFINAL_WINNER" month="12" day="17"/>
  <event type="1" id="3008" name="Semi Final Event 3" description="It's the parents' turn to show off their popularity. Which parent can host the best BBQ?" chance="0" priority="1" req_children="00" req_parent="01" req_grandpa="00" req_money="00" req_accept="00" qualification="QUARTERFINAL_WINNER" month="12" day="19"/>
  <event type="1" id="3009" name="Semi Final Judging" description="" chance="0" priority="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="QUARTERFINAL_WINNER" month="12" day="21"/>

  <event type="1" id="3010" name="Grand Final Event 1" description="You've fought your whole life for this. {EG} is quite a contender. It's only fair that Grandpa goes first. It's an insanity-off! Whichever grandpa can write the most coherant term paper on the fall of the roman empire wins!" chance="0" priority="2" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="SEMIFINAL_WINNER" month="12" day="22"/>
  <event type="1" id="3011" name="Grand Final Event 2" description="Time to find out which parent is smartest! It's time to see who knows the most about their grandpa!" chance="0" priority="1" req_children="00" req_parent="01" req_grandpa="00" req_money="00" req_accept="00" qualification="SEMIFINAL_WINNER" month="12" day="24"/>
  <event type="1" id="3012" name="Grand Final Event 3" description="It's the beauty pagent. Time to pick your cutest kid and have at it. Nothing wrong with child beauty pagents, right?" chance="0" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="SEMIFINAL_WINNER" month="12" day="26"/>
  <event type="1" id="3013" name="Grand Final Judging" description="" chance="0" priority="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="SEMIFINAL_WINNER" month="12" day="28"/>

  <event type="0" id="3014" name="Loser" chance="0" description="" priority="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="1" day="1" qualification="TOURNAMENT_LOSER"/>
</events>
