<?xml version="1.0" encoding="utf-8" ?>
<events>
  <!-- for documentation concerning how to write an event check the wiki -->
  <!-- RESERVED EVENTS -->
  <event type="2" id="0" name="weekly_stat_up" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00"/>
  <event type="2" id="1" name="trade_accept_reject" description="" priority="1" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00"/>
  <event type="2" id="20" name="tutorial_1" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" day="1" month="1" year="2016"/>
  <event type="2" id="21" name="tutorial_2" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" day="8" month="1" year="2016"/>
  <event type="2" id="22" name="tutorial_3" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" day="15" month="1" year="2016"/>
  <event type="2" id="23" name="tutorial_4" description="" priority="0" chance="1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" day="25" month="1" year="2016"/>
  <event type="0" id="40" name="Insanity Stage 30" description="" priority="0" chance="0.1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />
  <event type="0" id="41" name="Insanity Stage 50" description="" priority="0" chance="0.1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />
  <event type="0" id="42" name="Insanity Stage 70" description="" priority="0" chance="0.1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />
  <event type="0" id="43" name="Insanity Stage 90" description="" priority="0" chance="0.1" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />
  <event type="3" id="60" ability_name="Ability: Stat Gains Doubled" ability_description="Choose a child to gain double bonuses to all stat gains for one month!" cooldown="56" picture="" insanity_cost="5" money_cost="0" name="Stat Gains Doubled" description="Choose a child to gain double bonuses to all stat gains for one month!" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" />
  <event type="0" id="61" name="Ability: Stat double end" description="" priority="0" chance="0" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="STAT_GAINS_DOUBLED" />
  <event type="3" id="62" ability_name="Ability: Event Replayer" ability_description="Well that event yesterday didn't go well! Fortunately, I can replay it! For a price..." cooldown="28" picture="" insanity_cost="5" money_cost="5000" name="Event Replayer" description="Well that event yesterday didn't go well! Fortunately, I can replay it! For a price..." req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" />    
  <event type="3" id="63" ability_name="Ability: Child Sacrifice" ability_description="I can feel the grip of insanity upon me. I can sharply reduce my sanity for a sacrifice. A very high price to a very old god." cooldown="168" picture="" insanity_cost="0" money_cost="0" name="Child Sacrifice" description="I can feel the grip of insanity upon me. I can sharply reduce my sanity for a sacrifice. A very high price to a very old god." req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" />    
  
  <!--<event type="0" id="10" name="test_event_hidden" description="This is a test, {0}" priority="1" month="1-2"
         chance="0" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00"/>  
  <event type="1" id="11" name="test_event_known" description="Select one {C} to do the chore {G}!" priority="2" month="12" day="0" 
         req_children="11" age="0-100" req_parent="01" req_grandpa="00" req_money="01" req_accept="01"/> -->

  <!-- HIDDEN EVENTS -->
  <!-- <event type="0" id="101" name="Fingerpainting 101" description="{0}'s kindergarten class had a day of finger painting during class today!" priority="1" chance="0.005" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="9-12" age="5-6" /> -->

  <event type="0" id="1001" name="Grandpa buys a car" description="{G} is tired of seeing {P} drive that old beater around. Wouldn't you like a nice, new car? Now, how much to spend...?" priority="1" chance="0.0005" req_children="00" req_parent="11" req_grandpa="00" req_money="01" req_accept="01"/>
  <event type="0" id="1002" name="Grandpa's vacation" description="{G} wants the family to have a nice, relaxing vacation. The more you spend, the better the vacation will be!" priority="1" chance="0.002" req_children="11" req_parent="11" req_grandpa="00" req_money="01" req_accept="01" month="7" day="20" />
  <event type="0" id="1004" name="Grandpa's social security" description="" priority="1" chance="0.005" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00"/>
  <event type="0" id="1007" name="Grandpa finds buried gold" description="" priority="1" chance="0.005" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00"/>
  <event type="0" id="1008" name="Grandkid is dating head cheerleader" description="" priority="1" chance="0.05" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="ON_FOOTBALL_TEAM"/>
  <event type="0" id="1009" name="Grandkid is injured on the football team" description="" priority="1" chance="0.001" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="ON_FOOTBALL_TEAM"/>
  <event type="0" id="1010" name="Grandkid great at practice" description="" priority="1" chance="0.02" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="ON_FOOTBALL_TEAM"/>
  <event type="0" id="1011" name="Grandpa buys experimental football gear" description="There's this illegal, Cambodian football gear that's been treated with tiger grease. It costs $500 and would give {C} a big edge in indoor football..." priority="1" chance="0.01" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" qualification="ON_FOOTBALL_TEAM"/>
  <event type="0" id="1012" name="Grandkid's illegal gear is discovered" description="Uh oh, {EG} tipped off a referee to {C}'s illegal, Cambodian football gear. The referee is demanding a $1000 bribe to keep quiet." priority="1" chance="0.005" req_children="11" req_parent="00" req_grandpa="11" req_money="00" req_accept="01" qualification="ILLEGAL_GEAR"/>  
  <event type="0" id="1014" name="Grandkid sucks at football" description="" priority="1" chance="0.01" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="ON_FOOTBALL_TEAM" />  
  <event type="0" id="1015" name="Grandkid forgets lines" description="" priority="1" chance="0.01" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" qualification="IN_PLAY" />  
  <event type="0" id="1017" name="Parent gets a divorce" description="" priority="1" chance="0.002" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1018" name="Parent gets in fatal car accident" description="" priority="1" chance="0.0005" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1020" name="Parent gets hurt at construction site" description="" priority="1" chance="0.005" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1021" name="Grandkid gets into college" description="" priority="1" chance="0.005" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" age="16-18" />  
  <event type="0" id="1022" name="Grandpa buys family a rabid dog" description="" priority="1" chance="0.005" req_children="11" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1023" name="Grandpa lost at sea" description="" priority="1" chance="0.003" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1024" name="Grandpa gives life advice" description="" priority="1" chance="0.002" req_children="11" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1025" name="Grandpa falls for pozi scheme" description="" priority="1" chance="0.0005" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" /> 
  <event type="0" id="1030" name="CHECK: Grandpa commits arson" description="" priority="1" chance="0.005" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" /> 
  <event type="0" id="1026" name="Grandpa commits arson" description="What unseasonably cold weather! I remember back in the old days we would snuggle up by the fire on days like today." priority="1" chance="0" req_children="00" req_parent="00" req_grandpa="01" req_money="00" req_accept="00" /> 
  <event type="0" id="1027" name="Grandpa kills a cat" description="I'm hungry... I remember in the good old days when you could just kill a chicken by the side of the road and eat it." priority="1" chance="0.005" req_children="00" req_parent="00" req_grandpa="11" req_money="00" req_accept="00" /> 
  <event type="0" id="1028" name="Grandpa is naked" description="" priority="1" chance="0.001" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />   
  <event type="0" id="1029" name="Grandpa gets a doctor" description="Grandpa hasn't been feeling terribly well lately. A lot of sinister voices talking about a League. Fortunately, a doctor in town specializes in this sort of thing. For 50 dollars a month he can help you!" priority="1" chance="0.002" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" />   
  <event type="0" id="1031" name="Grandpa joins a cult" description="" priority="1" chance="0.001" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1035" name="Arbor Day Result" description="" priority="1" chance="0" req_children="00" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1037" name="Grandpa goes fishing" description="Ahh, the summer is the perfect time for the most stereotypical grandpa activity there is. Fishing! I should take one of the kids!" priority="1" chance="0.05" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="6" day="0" />  
  <event type="0" id="1039" name="Parent gets promotion" description="" priority="1" chance="0.01" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="00" />  
  <event type="0" id="1040" name="Parent catches coworker stealing" description="{P} is dusting the files at work when they see a coworker stuff a handful of pencils into their pocket. Stealing! At work! Should you turn them in...?" priority="1" chance="0.002" req_children="00" req_parent="11" req_grandpa="00" req_money="00" req_accept="01" />    
  <event type="0" id="1041" name="Grandpa sells drugs" description="Kids at {C}'s school are under a lot of pressure to succeed in school. Seems like all the kids are taking adderall. Could make a healthy buck off that!" priority="1" chance="0.002" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" />    
  <event type="0" id="1042" name="Grandkid finds classmate doing drugs" description="{C} steps out of the stall at school and finds a couple students doing crystal meth. Damn, that is some hard shit. Should you turn them in?" priority="1" chance="0.002" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="01" qualification="GRANDPA_SELLING_DRUGS" />    
  <event type="0" id="1019" name="Grandkid throws wild party" description="The only way to be a cool kid is to throw a cool party. {C} has plans to throw the coolest party ever. Obviously this is a good idea. Maybe pitch in a hundred bucks to make sure it goes off without a hitch? Extra money can counteract a lame kid, everyone knows that." priority="1" chance="0.01" req_children="11" req_parent="11" req_grandpa="11" req_money="01" req_accept="01"  age="12-18" />  
  <event type="0" id="1043" name="Grandkid fights bully" description="" priority="1" chance="0.01" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />    
  <event type="0" id="1044" name="Grandkid takes a test" description="" priority="1" chance="0.01" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" />    
  
  <!-- KNOWN EVENTS req_ of the form 1=true, 0=false, [RANDOM][REQUIRED]-->
  
  <event type="1" id="1003" name="Grandkid tries out for football" description="The indoor football team is having tryouts! I wonder who should go out?" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="1" day="0" age="10-18"/>
  <event type="1" id="1013" name="Grandkid's football championship" description="Time for the indoor football championships. The tension in the room is palpable. You spot {EG} on the other side of the stadium and make eye contact. He pours his beer onto a small child. It's on. Good luck!" priority="2" req_children="11" req_parent="00" req_grandpa="11" req_money="00" req_accept="00" month="6" day="0" age="10-18" qualification="ON_FOOTBALL_TEAM"/>
  <event type="1" id="1005" name="Grandkid makes honor roll?" description="{C} tries for the honor roll." priority="1" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="1" day="0" age="7-18"/>
  <event type="1" id="1006" name="Grandkid tries out for play" description="The school is putting on a play! Some garbage about saving the lemurs or whatever. Who cares, who should try out?" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="2" day="0" age="7-18"/>  
  <event type="1" id="1016" name="Grandkid's opening night" description="It's the big night! {C}'s play Stop the Lemur Genocide's opening night is tonight. The whole family is nervous, but especially Grandpa. He put everything on the line for this family. We owe him everything." priority="2" req_children="11" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="3" day="0" age="7-18" qualification="IN_PLAY"/>  
  <event type="1" id="1032" name="Valentine's Day" description="Love is in the air! Grandpa has never had trouble with the ladies, rawr, but God knows his grandkids could use a little advice in the love department. Who should Grandpa advise in this holiday season?" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="2" day="14" age="12-18" />  
  <event type="1" id="1033" name="Grandpa's Birthday!!" description="It's the most wonderful time of the year! Lucky for YOU, Grandpa likes to go hard. We need to pick our most popular grandkid and parent to arrange this thing so EVERYONE will be there." priority="1" req_children="01" req_parent="01" req_grandpa="11" req_money="00" req_accept="00" month="3" day="0" />   
  <event type="1" id="1034" name="Arbor Day" description="Spring is in the air. Grandpa is a big proponent of the environment. Especially if he grows a tree bigger than any other family's tree! Choose a child to teach about the environment!" priority="1" req_children="01" req_parent="00" req_grandpa="00" req_money="00" req_accept="00" month="4" day="27" />   
  <event type="1" id="1036" name="Fourth of July" description="Ah, America's independance day. Grandpa's father fought in that war. Probably. Anyway, seems like a perfect day for... sabotage. Let's set off some fireworks." priority="1" req_children="00" req_parent="00" req_grandpa="01" req_money="00" req_accept="00" month="7" day="4" />    
  <event type="1" id="1038" name="April Fool's" description="The prank holiday! I can think of one person I'd want to prank..." priority="1" req_children="00" req_parent="00" req_grandpa="01" req_money="00" req_accept="00" month="4" day="1" />    
 
</events>
